/*
vibrant
	#775511
	#775522
	#bb4400
	#ffaa00
	#ddcc55

dull
	#665533
	#555544
	#996644
	#ccaa55
	#bbaa77
*/

html, body {
	margin: 0;
	padding: 0;
/*	background:#bbaa77;*/
	background:#ffffff;
	color:#000;
	font-family: helvetica, sans-serif;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
/* 	min-width:800px; */
	}

#maincontainer {
	background:#ccaa55;
    width:824px; /* Width of main container */
    margin:0 auto; /* Center the container on page */
	background: url(leftcolumn-bg.png) top left repeat-y;
	}

#topsection {
	display: none;
	}
#nav {
    display: none;
    }
#nav ul {
	margin: 0;
	padding: 0;
/*	list-style: none;*/
	}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
	}
#contentwrapper {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 0px;
/* 	margin-left: 200px; */
	background: #bbaa77;
	}
#contentcolumn{
/*	background: #ccaa55;*/
	background: #ffffff;
	margin-left: 0px;
	padding: 10px 10px 10px 10px;
/*	margin-bottom: 10px;*/
/* 	margin-top: -20px; */
	}
#leftcolumn{
	display: none;
	float: left;
	width: 0px;
	margin-top: 0px;
	padding: 0;
	margin-left: -1024px;
	background: #bbaa77;
	}
#leftcolumn ul {
/*	padding: 0;
	margin: 0;*/
/*	list-style: none;*/
}
#recipe-preamble {
	text-align: center;
}
#recipe-preamble h2 {
}

.ingredients-left {
/*     background:#eee; */
	float: left;
	width: 300px;
	text-align: right;
	margin: 0px 0px 0px 100px;
	padding: 0px;
	font-style: italic;
/* 	border: thin dotted black; */
/* 	overflow:auto; */
    }
.ingredients-left ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px;
}
.ingredients-left li {
	padding: 2px;
	}
.directions {
/*     background:#eee; */
	float: right;
	width: 300px;
	margin: 0px 100px 0px 0px;
	padding: 0px 2px;
/* 	overflow:auto; */
    }
.directions ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px 0 0;
}
.directions li {
	padding: 2px;
	}
/* .clear { */
/*     background:#fff; */
/* 	clear: both; */
/* 	overflow:auto; */
/* 	margin: 0px; */
/* 	padding: 0; */
/*     } */
.recipe-summary {
	font-style: italic;
	}

#recipe-links {
        background: #000;
        display: none;
	text-align: right;
}

.step {
/* 	border-bottom: 1px solid #888;
 	border-top: 2px solid #888;*/
	overflow: auto;
	width: 100%;
	}

.ingredients {
	border-top: 1px solid #888;
}
.directions {
	border-top: 1px solid #888;
}

#footer {
        display: none;
	clear: left;
	width: 100%;
	background: #555544;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
	}

ul.ingredients {
	/*text-align: right;
	list-style-type: none;
	font-style: italic;
	border-right: medium, solid, black;
	margin-right: 70%;*/
	}

div.directions {
	float: right;
	}

