from .base import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG
#Get a key at e.g. http://randomkeygen.com
SECRET_KEY = 'EnterSomeKindOfRandomlyGenratedSecretKeyHere'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'recipes_django',                      # Or path to database file if using sqlite3.
        'USER': 'recipes_django',                      # Not used with sqlite3.
        'PASSWORD': 'recipes_django',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

INSTALLED_APPS += ('debug_toolbar',)
INTERNAL_IPS = ("127.0.0.1", )
DEBUG_TOOLBAR_CONFIG = {'DISABLE_PANELS': ['debug_toolbar.panels.redirects.RedirectsPanel']}
MIDDLEWARE_CLASSES += \
    ("debug_toolbar.middleware.DebugToolbarMiddleware", )
