language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run ./manage.py test --settings=django_recipes.settings.test
after_success:
  - coveralls
