Django==1.6.1
yolk==0.4.3
django-tagging==0.3.1
django-extensions==1.2.5
django-pagination==1.0.7
#django-registration==1.0
South==0.8.4
django-positions==0.5.0
mysql-python==1.2.5
Pillow==2.3.0
ipython==1.1.0

coverage==3.7.1
model_mommy==1.2
django-debug-toolbar==0.11.0
mock==1.0.1
django-model-utils==1.5.0
pip-tools==0.3.4

pint==0.4
