Django==1.6.1
yolk==0.4.3
django-tagging==0.3.1
django-extensions==0.9
django-mptt==0.6.0
django-reversion==1.6.2
django-pagination==1.0.7
django-registration==1.0
django-threadedcomments==0.5.3
South==0.8.3
django-positions==0.4.3
mysql-python==1.2.4
PIL==1.1.7
ipython==0.13

coverage==3.7.1
model_mommy==1.2
django-debug-toolbar==0.11.0
mock==1.0.1
django-model-utils==1.5.0
pip-tools==0.3.4
