#maincontainer {
    width:1024px; /* Width of main container */
    margin:0 auto; /* Center the container on page */
	}
#nav {
    padding: 5px;
    }
#nav ul {
	margin: 0;
	padding: 0;
	}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
	}
#contentwrapper {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 0px;
	}
#contentcolumn{
	margin-left: 200px;
	padding: 10px 10px 10px 10px;
	}
#leftcolumn{
	float: left;
	width: 200px;
	margin-top: 0px;
	padding: 0;
	margin-left: -1024px;
	}
#recipe-preamble {
	text-align: center;
}
#recipe-preamble h2 {
}

.ingredients-left {
	float: left;
	width: 300px;
	text-align: right;
	margin: 0px 0px 0px 100px;
	padding: 0px;
    }
.ingredients-left ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px;
}
.ingredients-left li {
	padding: 2px;
	}
.directions {
	float: right;
	width: 300px;
	margin: 0px 100px 0px 0px;
	padding: 0px 2px;
    }
.directions ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px 0 0;
}
.directions li {
	padding: 2px;
	}
.recipe-summary {
	}

.recipe-links {
	text-align: right;
}

.step {
	overflow: auto;
	width: 100%;
	}

.ingredients {
	border-top: 1px solid #888;
}
.directions {
	border-top: 1px solid #888;
}

#footer {
	clear: left;
	width: 100%;
	text-align: center;
	padding: 4px 0;
	}

ul.ingredients {
	}

div.directions {
	float: right;
	}
