html, body {
	margin: 0;
	padding: 0;
/*	background:#ffffff;*/
/*	color:#000;*/
/*	font-family: helvetica, sans-serif;*/
/*	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;*/
	}

#maincontainer {
/*	background:#ccaa55;*/
    width:1024px; /* Width of main container */
    margin:0 auto; /* Center the container on page */
/*	background: url(leftcolumn-bg.png) top left repeat-y;*/
	}

#topsection {
	/*background:#854151;*/
/*	background: url(banner.jpg);*/
	height:214px; /* Height of top section */
	line-height:214px;
	}
#topsection h1 {
	margin: 0;
	padding-top: 15px;
/*	color: #FFFFF;*/
	font-size: 60px;
/*	font-family: verdana;*/
	}
#nav {
    background:#665533;
    padding: 5px;
/*    color: #fff;*/
    }
#nav ul {
	margin: 0;
	padding: 0;
	}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
	}
#contentwrapper {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 0px;
/*	background: #bbaa77;*/
	}
#contentcolumn{
/*	background: #ffffff;*/
	margin-left: 200px;
	padding: 10px 10px 10px 10px;
	}
#leftcolumn{
	float: left;
	width: 200px;
	margin-top: 0px;
	padding: 0;
	margin-left: -1024px;
/*	background: #bbaa77;*/
	}
#recipe-preamble {
	text-align: center;
}
#recipe-preamble h2 {
}

.ingredients-left {
	float: left;
	width: 300px;
	text-align: right;
	margin: 0px 0px 0px 100px;
	padding: 0px;
	font-style: italic;
    }
.ingredients-left ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px;
}
.ingredients-left li {
	padding: 2px;
	}
.directions {
	float: right;
	width: 300px;
	margin: 0px 100px 0px 0px;
	padding: 0px 2px;
    }
.directions ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px 0 0;
}
.directions li {
	padding: 2px;
	}
.recipe-summary {
	font-style: italic;
	}

.recipe-links {
	text-align: right;
}

.step {
	overflow: auto;
	width: 100%;
	}

.ingredients {
	border-top: 1px solid #888;
}
.directions {
	border-top: 1px solid #888;
}

#footer {
	clear: left;
	width: 100%;
/*	background: #555544;*/
/*	color: #FFF;*/
	text-align: center;
	padding: 4px 0;
	}

div.directions {
	float: right;
	}
