{% extends "recipes/base.html" %}

{% block content %}
    <a href="/admin/recipes/recipe/add">New recipe</a>
    <br />
    <h2>Recipes ({{ paginator.count }} in total)</h2>
    <ul>
        {% for recipe in object_list %}
	<li><a href="{% url 'recipe-detail' recipe.slug %}">{{ recipe.title }}</a>: {{ recipe.summary }}</li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <p>Displaying recipes {{ page_obj.start_index }}-{{ page_obj.end_index}}</p>

        <p>
	{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number}}">{% endif %}prev{% if page_obj.has_previous %}</a>{% endif %}

    {% for num in paginator.page_range %}
        {% ifnotequal page_obj.number num %}<a href="?page={{ num }}">{% endifnotequal %}{{ num }}{% ifnotequal page.number num %}</a>{% endifnotequal %}
    {% endfor %}

        {% if page_obj.has_next %}<a href="?page={{ next}}">{% endif %}
                next
        {% if page_obj.has_next %}</a>{% endif %}



        </p>
    {% endif %}
{% endblock %}
