{% extends "recipes/base.html" %}
{% load fractions %}

{% block content %}
<!--
        <div id="recipe-links">
          <a href="/admin/recipes/recipe/{{ object.id }}">edit</a>
        </div>
-->

	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>{{ object.title }}</h2>
		<p class="recipe-summary">{{ object.summary }}</p>
	  </div>
	</div>

	<!-- Ingredient/direction style #1 -->
       	{% for direction in object.directions.all %}
  	<div class="row" >
				<div class="col-md-5 col-md-offset-1" style="border-top: 1px solid #888;">
					<ul class="list-unstyled text-right">
						{% for ingredient in direction.ingredients.all %}
						<li style="margin-top: 5px;"><em>{{ingredient.combined_amount}}</em></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-5" style="border-top: 1px solid #888;">
					<p style="margin-top: 5px;">
					{{direction.text}}
					</p>
				</div>
		</div>	<!-- row -->
	{% endfor %}

	<hr/>

    <p><i>Extra Instructions:</i><br />
 	   {{ object.instructions }}
    </p>

	<p><i>Prep time: {{ object.prep_time }}</i></p>
    {% if object.sources %}

    <p><i>Sources:</i>
            <ul>
            {% for source in object.sources.all %}
                <li>{{ source }}</li>
            {% endfor %}
            </ul>
    {% endif %}

    {% if object.category %}
    <p><i>Category:</i> <a href="/recipes/category/{{ object.category.id }}">{{ object.category }}</a></p>
    {% endif %}

    {% if object.photo_set %}
        <h3>Photos:</h3>
            <ul>
            {% for photo in object.photo_set.all %}
                <li><a href="/media/{{ photo.image }}"><img width="300" src="/media/{{ photo.image }}"></img></a></li>
            {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
