{% extends "recipes/base.html" %}
{% load fractions %}
{% load tagging_tags %}

{% block content %}
        <div id="recipe-links">
          <a href="/admin/recipes/recipe/{{recipe.id}}">edit</a>
        </div>

	<div id="recipe-preamble">
		<h2>{{ recipe.title }}</h2>
		<p class="recipe-summary">{{ recipe.summary }}</p>
	</div>

	<!-- Ingredient/direction style #1 -->
	{% if recipe.direction_set %}
       	{% for direction in recipe.direction_set.all %}
		<div class="step">
 			{% if direction.ingredient_set %}
				<div class="ingredients-left">
					<ul class="ingredients">
						{% for ingredient in direction.ingredient_set.all %}
						<li>{{ingredient.amount|text_fraction}}{% if ingredient.amountMax %}-{{ingredient.amountMax|text_fraction}}{% endif %} {{ingredient.unit.plural_abbrev}} {% if ingredient.prep_method %} {{ingredient.prep_method}} {% endif %}{{ingredient.food}}{% if ingredient.instruction %}, {{ingredient.instruction}}{% endif %}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="directions">
					{{direction.text}}
				</div>
			{% endif %}
		</div>	<!-- step -->
	{% endfor %}
	{% endif %}

	<!-- Ingredient/direction style #2 -->
	<!--
	<p>
	Ingredients:
		{% if recipe.direction_set %}
			<ul>
			{% for direction in recipe.direction_set.all %}
				{% for ingredient in direction.ingredient_set.all %}
					<li>{{ingredient.amount|text_fraction}}{% if ingredient.amountMax %}-{{ingredient.amountMax|text_fraction}}{% endif %} {{ingredient.unit.plural_abbrev}} {% if ingredient.prep_method %} {{ingredient.prep_method}}{% endif %} {{ingredient.food}}</li>
				{% endfor %}
			{% endfor %}
			</ul>
		Directions:
		{% for direction in recipe.direction_set.all %}
			{{ direction.text }}
		{% endfor %}
		{% endif %}
	</p>
	-->
	<p><i>Tags: </i>
	  {% tags_for_object recipe as tag_list %}
	  {% for tag in tag_list %}
	  <a href="{% url recipe_list_by_tag tag %}">{{tag}}</a>
	  {% endfor %}
        </p>

    <p><i>Extra Instructions:</i><br />
 	   {{ recipe.instructions }}
    </p>

	<p><i>Prep time: {{ recipe.prep_time }}</i></p>
    {% if recipe.sources %}

    <p><i>Sources:</i>
            <ul>
            {% for source in recipe.sources.all %}
                <li>{{ source }}</li>
            {% endfor %}
            </ul>
    {% endif %}

    {% if recipe.category %}
    <p><i>Category:</i> <a href="/recipes/category/{{recipe.category.id}}">{{ recipe.category }}</a></p>
    {% endif %}

    {% if recipe.photo_set %}
        <h3>Photos:</h3>
            <ul>
            {% for photo in recipe.photo_set.all %}
                <li><a href="/media/{{ photo.image }}"><img width="300" src="/media/{{ photo.image }}"></img></a></li>
            {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
