<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<script type="text/javascript"></script>
	<title>My Recipe Site - Recipe Name</title>
	<style type="text/css" media="all">
		@import "test_recipe.css";
	</style>

</head>

<body id="css-daves-cookbook">

	<div id="maincontainer">

		<div id="topsection">
			<h1>My Cookbook Site</h1>
		</div>

		<div id="nav">
			<ul>
				<li>Option 1</li>
				<li>Option 2</li>
				<li>Option 3</li>
			</ul>
		</div>	

		<div id="contentwrapper">

			<div id="contentcolumn">
				<div id="recipe-preamble">
					<h2>Recipe Title</h2>
					<p class="recipe-summary">A soothing blend of...well a bunch of weird stuff. Enjoy!</p>
				</div>
				<div class="step">
					<div class="ingredients-left">
						<ul class="ingredients">
							<li>1 c. flour</li>
							<li>2 tbsp. vegetable oil</li>
							<li>1 tsp. salt</li>
							<li>1 tsp. basil</li>
							<li>1 tsp. oregano</li>
							<li>1 tsp. thyme</li>
						</ul>
					</div>
					<div class="directions">
						<ul>
							<li>Blend all ingredients together.</li>
							<li>Rinse and repeat.</li>
						</ul>
					</div>
				</div>		

				<div class="step">
					<div class="ingredients-left">
						<ul class="ingredients">
							<li>5 tsp. salt</li>
							<li>5 tbsp. vinegar</li>
							<li>2 c. rice</li>
						</ul>
					</div>
			
					<div class="directions">
						<ul>
							<li>Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together. Blend all ingredients together.</li>
						</ul>
					</div>
				</div>
		
			</div>
		</div>
			
		<div id="leftcolumn">
			<ul>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
			</ul>
		</div>

		<div id="footer">
			footer
		</div>
		

	</div>
</body>
